.container#content {
  margin-top: 60px;
}
view {
  align-items: center;
}
body {
  background-color: #f9f9f9;
  font-family: $site-font;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #999;
}
h4 {
  margin-bottom: 20px;
  color: #999;
}
h5 {
  margin-bottom: 20px;
  color: #999;
}
em {
  font-size: 14px;
}
td,
th {
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
}

.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #999;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}
